*.adbxx
*.adsxx
*-save
*.ali
*.cswi
*.gpr.lock
*.mak
*.md
*.lock
*.old
*.save
*.stderr
*.stdout
*.swp
*.txt
*.vpwhistuxml
*.vpwwildcardcache
*.vtg
*.cgpr
GNAT-*
suites
TRACE.txt
alire/
bin/
build/
config/
lib/
obj/
save/
vendor/
GNAT*
list

